.main-block {
    height: auto;
    width: auto;
    max-width: 1152px;
    background-color: hsl(0deg 0% 0% / 0%);
    color: #fff;
}

.title-block {
    height: auto;
    width: auto;
    padding: 10px 20px;
    background-color: #242424;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.error-title {
    font-size: 1.7em;
    font-weight: 500;
}

.error-block {
    padding: 22px;
    background-color: #202020;
}

.error-subtitle {
    font-size: 1.5em;
    font-weight: 500;
}

ol {
    padding: 0px 0px 10px 20px;
}

li {
    list-style-type: none;
}