{% extends "base.html" %}
{% block title %} 404 {% endblock %}

{% block content %}
<div class="container is-fullhd my-con">

	<link id="style" rel="stylesheet" href="/static/css/pages/404.css">

	<div class="main-block">
		<div class="title-block">

			<h2 class="error-title">
				404 | Page not found
			</h2>
		</div>
		<div class="error-block">
			<h3 class="error-subtitle">Where am I?</h3>
			<ol>
				<li>- Check that the URL you entered is correct.</li>
				<li>- Make sure that the place you are visiting isn't under maintenance!</li>
				<li></li>
			</ol>
		</div>
	</div>
</div>
{% endblock %}