{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}
<link rel="stylesheet" href="/static/css/pages/home.css" />

{% if flash %}
<div class="noti-banner noti-banner-warning">
  <div class="container">
    <div class="noti-column">
      <div class="noti-col noti-col-icon"></div>
      <div class="noti-col noti-col-label">
        <div class="noti-bannertype">
          {% if status=='error' %} Warning {% elif status=='success' %} Notice
          {% endif %}
        </div>
        <div class="noti-bannertext">
          {% if status=='error' %} Uh oh! Be careful! {% elif status=='success'
          %} Alert {% endif %}
        </div>
      </div>
      <div class="noti-banner-text">{{ flash }}</div>
    </div>
  </div>
</div>
{% endif %}

<div class="hero splash p-less is-fullheight-with-navbar" id="home-hero">
  <div class="container flex">
    <div class="columns flex-vcenter">
      <div
        class="
          column
          flex-vcenter flex-lcenter
          is-size-2-desktop is-size-1-fullhd
        "
        id="title"
      >
        <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd">
          {{ appName() }}
        </h1>
        <h2 class="subtitle">
          Welcome to Circles!<br />We are a private osu community.<br />
        </h2>
        {% if not session.authenticated %}
        <div class="buttons">
          <a class="button is-primary" href="/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login"> Log in </a>

          <div class="buttons">
            <button type="button" class="button is-light" href="https://discord.gg/vVpg9Nc2nR">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-discord"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z"
                ></path>
                <path
                  d="M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z"
                ></path>
              </svg>
              Join our Discord!
            </button>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="column flex flex-lcenter" id="mascot">
        <div class="circles-avatar"></div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Some of our coolest features</h2>
    <div class="columns has-text-left mb-6">
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-address-card"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">PP for Relax and Autopilot</h4>
            <p class="subtitle is-6">
              Our server has unique pp formula for relax and autopilot. Good at
              waving your cursor or just smashing your keyboard? Join {{
              appName() }} and get a fair reward for your skills!
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-ambulance"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Free osu!direct</h4>
            <p class="subtitle is-6">
              You won't have to pay for osu!supporter to have a convenient
              gameplay experience in the client - osu!direct is available for
              everyone! Keep in mind supporting us still grants a huge set of
              cool perks but absense of it doesn't affect your game sessions!
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-archive"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Flexible library</h4>
            <p class="subtitle is-6">
              We're written on top of cmyui's multipurpose library allowing for
              a fully asynchronous environment, both improving performance and
              the user's experience in the long term!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if not session.authenticated %}
<section class="hero splash">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">What are you waiting for?</h1>
      <h2 class="subtitle">
        Join {{ appName() }}! It's risk-free! You won't get your account banned
        on official servers if you play here with us! And don't worry, as you
        can always switch between the official servers and us at any time!
      </h2>
      <div class="buttons is-centered">
        <a class="control button is-primary" href="/register"
          >Sign up for free</a
        ><a class="control button is-light" href="/login">Login</a>
      </div>
    </div>
  </div>
</section>
{% endif %} {% endblock %}
