{% extends 'base.html' %}
{% block title %} Leaderboard {% endblock %}

{% block content %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>

<script>
    var mode = "{{ mode }}";
    var mods = "{{ mods }}";
    var sort = "{{ sort }}";
</script>

<link rel="stylesheet" href="/static/css/default/pages/leaderboard.css" />

<!-- Primary Meta Tags -->
<title>Circles - Leaderboard</title>
<meta name="title" content="Circles - Leaderboard">
<meta name="description" content="Check out the circles.fun private osu! server leaderboard!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://circles.fun/">
<meta property="og:title" content="Circles - Leaderboard">
<meta property="og:description" content="Check out the circles.fun private osu! server leaderboard!">
<meta content="#2c5690" data-react-helmet="true" name="theme-color">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://circles.fun/">
<meta property="twitter:title" content="Circles - Leaderboard">
<meta property="twitter:description" content="Check out the circles.fun private osu! server leaderboard!">

<div align="center" class="ad-top">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 728x90 Horizontal -->
    <ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px"
        data-ad-client="ca-pub-9619500283342943" data-ad-slot="5170671013"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="main1">
    <div id="app">
        <div class="leaderboard-banner main-banner">
            <div class="main-selector">
                <a :href="'/lb/osu/'+sort+'/'+mods" :class="'mode-select '+(mode == 'std' ? '--selected ' : '')"
                    @click="LoadLeaderboard(sort, 'std', mods)">
                    <i class="mode-icon mode-osu"></i><span class="modetext"> osu!</span>
                </a>
                <a :href="'/lb/taiko/'+sort+'/'+mods" :class="'mode-select '+(mode == 'taiko' ? '--selected ' : '') +
                (mods == 'ap' ? 'disabled':'')" @click="LoadLeaderboard(sort, 'taiko', mods)">
                    <i class="mode-icon mode-taiko"></i><span class="modetext"> osu!taiko</span>
                </a>
                <a :href="'/lb/catch/'+sort+'/'+mods" :class="'mode-select '+(mode == 'catch' ? '--selected ' : '') +
                (mods == 'ap' ? 'disabled':'')" @click="LoadLeaderboard(sort, 'catch', mods)">
                    <i class="mode-icon mode-catch"></i><span class="modetext"> osu!catch</span>
                </a>
                <a :href="'/lb/mania/'+sort+'/'+mods" :class="'mode-select '+(mode == 'mania' ? '--selected ' : '') +
                (mods == 'ap' ? 'disabled':'')+
                (mods == 'rx' ? 'disabled':'')" @click="LoadLeaderboard(sort, 'mania', mods)">
                    <i class="mode-icon mode-mania"></i><span class="modetext"> osu!mania</span>
                </a>
            </div>
            <div class="banner-text">Leaderboard</div>
            <div class="selector">
                <div class="left">
                    <a :href="'/lb/'+mode+'/pp'" @click="LoadLeaderboard('pp', mode, mods, '')" :class="'simple-banner-switch'+
                    (sort == 'pp' ? ' switch--active' :'')">PP</a>
                    <a :href="'/lb/'+mode+'/rscore'" @click="LoadLeaderboard('rscore', mode, mods, '')" :class="'simple-banner-switch'+
                    (sort == 'rscore' ? ' switch--active' :'')">Score</a>
                </div>
                <div class="right">
                    <a :href="'/lb/'+mode+'/'+sort+'/vn'" :class="'simple-banner-switch '+
                    (mods == 'vn' ? 'switch--active' : '')" @click="LoadLeaderboard(sort, mode, 'vn')">Vanilla</a>
                    <a :href="'/lb/'+mode+'/'+sort+'/rx'" :class="'simple-banner-switch '+
                    (mods == 'rx' ? 'switch--active' : '')+
                    (mode == 'mania' ? 'disabled':'')" @click="LoadLeaderboard(sort, mode, 'rx')">Relax</a>
                    <a :href="'/lb/'+mode+'/'+sort+'/ap'" :class="'simple-banner-switch '+
                    (mods == 'ap' ? 'switch--active' : '')+
                    (mode == 'mania' ? 'disabled':'')+
                    (mode == 'catch' ? 'disabled':'')+
                    (mode == 'taiko' ? 'disabled':'')" @click="LoadLeaderboard(sort, mode, 'ap')">Autopilot</a>
                </div>
            </div>
        </div>
        <div class="main-block">
            <div class="leaderboard-main-bg table-responsive">
                <div v-if="boards.length !== undefined">
                    <table :class="'leaderboard-table table-responsive ' + (load ? 'load' : '')">
                        <thead>
                            <tr>
                                <th class="t-heading"></th>
                                <th class="t-heading t-heading--main"></th>
                                <th v-if="sort == 'pp' || sort == 'rscore'" class="t-heading table--selected">
                                    <% (sort=='pp' ? "PP" : "" ) %> <% (sort=='rscore' ? "Score" :
                  "" ) %>
                                </th>
                                <th class="t-heading">Accuracy</th>
                                <th class="t-heading">Playcount</th>
                                <th class="t-heading">Max Combo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in boards" class="leaderboard-column">
                                <td class="column-player-rank">#<% index + 1 %></td>
                                <td class="column-player-name text-left">
                                    <a :href="'/u/'+user.user_id"><% user.username %></a>
                                </td>
                                <td v-if="sort == 'pp' || sort == 'rscore'">
                                    <% (sort=='pp' ? user.pp+'pp' : "" ) %> <% (sort=='rscore' ?
                  scoreFormat(user.rscore) : "" ) %>
                                </td>
                                <td><% user.acc.toFixed(2) %>%</td>
                                <td><% addCommas(user.plays) %></td>
                                <td><% addCommas(user.max_combo) %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <div class="text-center">there are no scores to display!</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div align="center" class="ad-bottom">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 728x90 Horizontal -->
    <ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px"
        data-ad-client="ca-pub-9619500283342943" data-ad-slot="5170671013"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<script src="/static/js/pages/leaderboard.js"></script>
{% endblock %}