{% extends "adblockbase.html" %}
{% block title %} Register {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pages/auth.css">

<meta name="description" content="Create an account on the circles.fun private osu! server.">

<!-- Meta Tags -->
<meta property="og:url" content="https://circles.fun/register">
<meta property="og:type" content="website">
<meta property="og:title" content="Circles Registration">
<meta content="https://circles.fun/static/images/logo.png" property="og:image">
<meta content="#2c5690" data-react-helmet="true" name="theme-color">
<meta property="og:description" content="Create an account on the circles.fun private osu! server.">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="circles.fun">
<meta property="twitter:url" content="https://circles.fun/register">
<meta name="twitter:title" content="circles.fun">
<meta name="twitter:description" content="Create an account on the circles.fun private osu! server.">
<meta name="twitter:image" content="https://circles.fun/static/images/logo.png">


<div class="main-block is-marginless is-paddingless is-auth">
  <div class="columns pm-reset is-weeb">
    <div class="column title-block">
      <h1 class="title" id="regtitle">Registration</h1>
    </div>
  </div>
  <div class="columns pm-reset flex-lcenter is-block">
    <div class="box">
      <div class="login-bg"></div>
      <form action="/register" method="post" class="form-content">
        <div class="field">
          <label for="user" class="label">Username</label>
          <div class="control has-icons-left">
            <input id="user" type="text" name="username" placeholder="e.g. Aika" class="input" autocomplete="username"
              required>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="email" class="label">Email</label>
          <div class="control has-icons-left">
            <input id="email" type="email" name="email" placeholder="e.g. aika@gul.ag" class="input"
              autocomplete="email" required>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="pass" class="label">Password</label>
          <div class="control has-icons-left">
            <input id="pass" type="password" name="password" placeholder="*************" class="input"
              autocomplete="new-password" required>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="mt-5"></div>
        <div class="dialog">
          Already have an account? <a href="/login">Login</a>
        </div>
        {% if not captchaKey() == 'changeme' %}
        <div class="field">
          <div class="h-captcha" data-sitekey="{{ captchaKey() }}" data-theme="dark"
            style="display: flex; justify-content: center;"></div>
        </div>
        {% endif %}
        <div class="field">
          <button type="submit" class="button is-light">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% if flash %}
<div class="paper-snackbar is-{{ status }}" style="opacity: 1;">
  {{ flash }}
</div>
{% endif %}

{% if not captchaKey() == 'changeme' %}
<script src="https://hcaptcha.com/1/api.js" async defer></script>
{% endif %}

{% endblock %}