<!DOCTYPE html>

{% extends 'base.html' %}
{% block title %} Verify {% endblock %}

{% block content %}
<link id="style" rel="stylesheet" href="/static/css/pages/verify.css">
<div class="main-block is-marginless is-paddingless is-auth">
    <div class="columns pm-reset is-weeb">
        <div class="column title-block">
            <div class="titlewithsub">
                <h1 class="title is-left">How to verify your account</h1>
                <h2 class="subtitle">What do you mean? This must be easy right?</h2>
            </div>
        </div>
    </div>
    <div class="columns pm-reset flex-lcenter is-block">
        <div class="box is-padding">
            <div class="bordertitle">
                <div class="titlewithsub">
                    <h1 class="title is-left">Download osu!</h1>
                    <h3 class="subtitle">Make sure you have the original game downloaded! <a
                            href="https://m1.ppy.sh/r/osu!install.exe">Click here for the download!</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns pm-reset flex-lcenter is-block">
    <div class="box is-padding">
        <div class="bordertitle">
            <div class="titlewithsub">
                <h1 class="title is-left">Verification</h1>
                <h2 class="subtitle">Follow the video step by step to get started playing on {{ appName() }}!</h2>
            </div>
        </div>
        <div class="howto-content">
            <div class="columns is-paddingless is-marginless">
                <div class="column" id="howto">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0qOPwFO09PI"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="bordertitle">
            <div class="titlewithsub">
                <h1 class="title is-left">I'm stuck!</h1>
                <h2 class="subtitle">Need help? We've got you covered - Join our Discord and ping any online
                    staff
                    member so we can help you out!</h2>
            </div>
        </div>
        <div class="box flex is-mpadding is-marginless">
            <a href="/discord" class="flex" id="discord"><img
                    src="https://cdn.iconscout.com/icon/free/png-256/discord-2752210-2285027.png" class="discord-logo">
                <div class="clickhere-title flex flex-vcenter">
                    <h1 class="title">Click here to join our Discord!</h1>
                </div>
            </a>
        </div>
        <div class="box is-block is-paddingless is-marginless is-waiting">
            <div class="columns flex is-paddingless is-marginless">
                <div class="column flex flex-vcenter">
                    <div>
                        <h1 class="title is-left">Waiting for verification!</h1>
                        <h2 class="subtitle">Follow the simple instructions above and once you're done
                            reload this
                            page!</h2>
                    </div>
                </div>
                <div class="column icon-block">
                    <div class="loading-anim">
                        <i class="fas fa-circle-notch is-headericon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}